/* ESTILOS PARA LA CAJITA DE Historial Académico de calificaciones*/
.card-historial{
    background-color: #e4e4e4;
    border-radius: 15px;
}

.table-historial .text-left, .text-center{
    padding: 8px;
}

/* ESTILOS PARA LA TABLA DE HISTORIAL ACADÉMICO DE CALIFICACIONES*/
.table .info-historial{
    background-color: #4f81cb;
    font-weight: bolder;
}

/* ESTILOS PARA EL FOOTER DE HISTORIAL ACADÉMICO DE CALIFICACIONES (TIPO DE ASIGNATURA)*/
.panel-footerNotas h6{
    text-align: center;
}